@font-face {
    font-family: 'Mokoto Glitch';
    src: url("fonts/Mokoto Glitch.ttf");
}
@font-face {
    font-family: 'Sublima-Light';
    src: url('fonts/Sublima-Light.otf');
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Sublima-Light', sans-serif;
    border: none;
    margin: 0;
    padding: 0;
    font-weight:bolder;
    max-width: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}
li{
    cursor: pointer;
}
/****************Top Section******************/
#landingPage{
    background: linear-gradient(
        rgba(0, 0, 0, .5), 
        rgba(0, 0, 0, .5)
      ),
      url('images/TokyoNightscape.jpg');
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100%;
}
.slidein {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
  }
  
  @keyframes slidein {
    from {
      margin-top: 75%;
      width: 100%;
    }
  
    to {
      margin-top: 49.312px;
      width: 100%;
    }
  }

  @media (width > 488px){
    .fa-bars{
        visibility: hidden;
        position: absolute;
      } 
      #dropDown{
        visibility: hidden;
        position: absolute;
      }
  }
  @media (width < 360px){
    #top h1{
        font-size: 4vh !important;
        margin: -20px 40px 11.792px -40px !important;
        width: 200px !important;
    }
    #top button{
        align-self: center !important;
        margin-left: 5px !important;
    }
  }
  @media (width <= 488px){
    nav li{
        visibility: hidden;
      }
      #languageToggle{
        visibility: hidden;
      }
      .fa-bars{
        position: absolute;
        right: 10px;
        top: 28px;
        color: white;
      }
      #dropDown{
        visibility: hidden;
      }
  }
  #dropDown li{
    background-color: rgb(59, 69, 178);
    width: 100px;
  }
  #dropDown li:hover{
    background-color: black;
    color: white;
  }
  #dropdownButton:hover{
    cursor: pointer;
  }

#top{
    position: absolute;
    top: 150px;
    left: 100px;
    right: 100px;
    text-align: center;
}
#top h1{
    font-family: 'Mokoto Glitch', sans-serif;
    font-size: 4.5vmax;
    z-index: 1;
    color: #39FF14;
    font-weight: 700;
    text-shadow: 3px 3px #060606;
    border-radius: 10px;
}
#top button{
    border: none;
    height: 5vmax;
    width: 20vmax;
    border-radius: 20px;
    margin: 0 25px;
    font-size: 3vmax;
    font-weight: 500;
}
#sampleButton{
    background-color: rgb(41, 39, 39);
    color: white;
}
#sampleButton:hover{
    background-color: white;
    color: black;
}
#contactButton{
    background-color: aqua;
    color: black;
}
#contactButton:hover{
    background-color: white;
}
.navbarContainer{
    display: inline-flex;
    flex-direction: row;
    justify-content: right;
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgb(59, 69, 178);
}
nav{
    display: inline-flex;
    flex-direction: row;
    white-space: nowrap;
}
.navbarContainer li{
    list-style: none;
    font-size: 1.25rem;
    width: fit-content;
    padding: 12px 20px;
    text-align: center;
}
.navbarContainer li:hover{
    color: white;
    background-color: black;
}
#logo{
    height: 59.675px;
    width: 60px;
    background-color: rgb(59, 69, 178);
    position: absolute;
    left: 0;
}
#logo:hover{
    cursor: pointer;
}
#languageToggle{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}
#languageToggle a{
    padding: 3px 0;
}
#languageToggle:hover{
    background-color: black;
    color: white;
}
#flagIcon{
    width: 30px;
    height: 30px;
}
/**********About Section*****************/
#aboutSection{
    height: 100vh;
    width: 100%;
    max-width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f0ffff;
}

@media (width < 720px){
    #aboutSection{
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media(height < 600px){
    #myWork h1{
        margin-bottom: -50px !important;
        background-color: #f0ffff;
    }
}
@media(width < 385px){
    #techStack h3{
        position: absolute;
        visibility: hidden;
    }
}
@media (385px < width < 1000px){
    #infoSection{
        margin: auto !important;
    }
}
@media (width < 1000px){ /*Styles for mobile*/
    #aboutSection{
        display:block;
        text-align: center;
        height: fit-content;
    }
    #profilePicture{
        height: 48vh !important;
        width: 36vh !important;
        margin: 30px auto 0 auto !important;
    }
    #techStackImg{
        width: 300px;
        height: 43px;
    }
    #myWork{
        height: fit-content !important;
    }
    #myWork h1{
        margin-top: 0 !important;
        display: block;
        position: inherit;
    }
    #MundoMusicaPic{
        width: 350px;
        position: relative;
        margin-top: 100px !important;
    }
    #MundoMusica h2{
        margin-top: 200px !important;
        display: block !important;
        position: inherit;
    }
    .contactDiv h3{
        font-size: 1rem;
        margin: 0 !important;
        max-width: 83%;
    }
    .contactDiv{
        max-width: 100%;
        margin: 0 !important;
    }
}

#profilePicture{
    height: 300px;
    width: 225px;
    border-radius: 30px;
    display: inline;
    margin: auto 30px auto 20px;
    background: linear-gradient(
        90deg,
        #5de0e6, 
        #004aad
      );
    border:#060606;
    border: solid;
}
h2{
    display: inline;
    width: fit-content;
    font-weight: 700;
}
h3{
    font-weight: 400;
    color:rgb(4, 86, 86);
}
#infoSection{
    width: 490px;
    max-width: 100%;
}
#infoSection h3{
    width: fit-content;
    display: inline-block;
    max-width: 490px;
}
#techStack{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
#techStackImg{
    display: inline;
    height: 45px;
    margin-top: 10px;
}
/***********My Work Section****************/
#myWork{
    height: 100vh;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items:center;
    background-color: #f0ffff;  
    max-width: 100%;
}
#myWork h1{
    display: block;
    font-size: 3rem;
    font-weight: bolder;
    width: 100%;
    margin-bottom: -300px;
    text-align: center;
    margin-top: -200px;
}
@media( 424px < width < 932px){
    #myWork h1{
        margin-bottom: -200px;
    }
}
@media(width <= 424px){
    #myWork h1{
        margin-bottom: -100px;
    }
}
#MundoMusicaPic{
    display: inline;
    flex-direction: row;
    width: 384px;
    height: 185.2px;
    margin-top: -200px;
}
#MundoMusicaPic:hover{
    cursor: pointer;
}
#MundoMusica{
    display: inline-flex;
    flex-direction: column;
    align-items: first baseline;
    width: 500px;
    margin-left: 30px;
    margin-top: -200px;
}
#MundoMusica h2, h3{
    margin: 2px 0 2px 0;
}
#MundoMusica h2{
    font-size: 2.3rem;
    color:rgb(121, 82, 36);
}
.fa-brands{
    height: 20px;
    width: 20px;
}
.fa-envira{
    transform: rotate(45deg);
}
/******************Contact Section*****************/
#contact{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    background-color: #f0ffff;  
}
#contact h2{
    font-size: 3rem;
    font-weight: bolder;
    margin-top: -20px;
}
.horizontalBrands{
    display: flex;
    flex-direction: row;
}
.horizontalBrands i{
    margin: 25px;
}
.contactDiv{
    display: flex;
    flex-direction: column;
    width: 375px;
    margin: 0 30px;
    align-items: center;
    font-size: 1.25rem;
    text-align: center;
}
#contactWrapper{
    display: flex;
    flex-direction: column;
}
.fa-envelope:hover{
    cursor: pointer;
}
.fa-envelope{
    color: black;
}
